.heading
{
font-size: 23px;
font-family: Times;
}
body{
    background-size: cover;
}
a{
    font-size: 23px;
    background-color: aqua;
    border-radius: 20px;
    padding: 20px;
    color: blue;
    
}